@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

html {
  padding: 24px;
}
header {
  margin-bottom: 32px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
